body{
  background-color: black;
}
.head span{
  background-color: rgb(24, 26, 25);
    position: relative;
    top:0%;
    color: #b9b9b9;
    font-size: 3vw;
    height: 15vh;
    align-items: center;
    justify-content: center;
    display:flex;
    font-family: monospace;
    }
    

img{
  width: 3vh;
  height: 3vh;
position: absolute;
top: 17vh;
left: 1.5vh;
}


* {
    box-sizing: border-box;
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 3px solid  #2f7569;
    margin-bottom: 12px;
    background-color: #000000;
    color: white;

  }
  


  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #102e1d;
    font-size: 18px;
   left: 20vh;
    background-color:  #b9b9b9;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #102e1d;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #2f7569;
  }

a {
    color: #000000;
}

a:hover {
  color: #b9b9b9;
}

td:hover{
  color: #b9b9b9;
}
  .footer{
    grid-area: footer;
    background-color: rgb(24, 26, 25);
    color: #b9b9b9;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    
    }
    